/* Corpo da página */
body {
    background-color: aliceblue;  /* Cor de fundo */
    display: flex;                /* Flexbox para layout */
    justify-content: center;      /* Centraliza horizontalmente */
    align-items: center;          /* Centraliza verticalmente */
    height: 100vh;                /* Ocupa toda a altura da tela */
    margin: 0;                    /* Remove a margem padrão */
    flex-direction: column;       /* Alinha os itens em uma coluna */
}

/* Estilo para o título */
h1 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 36px;              /* Tamanho da fonte */
    text-align: center;           /* Alinha o texto no centro */
    margin-top: 0;                /* Remove a margem superior */
}

/* Estilos para o botão */
.butaoEscolha {
    background-color: red;        /* Cor de fundo vermelha */
    color: white;                 /* Cor do texto branca */
    border: none;                 /* Remove a borda padrão */
    padding: 10px 20px;           /* Espaçamento interno */
    font-size: 16px;              /* Tamanho da fonte */
    cursor: pointer;             /* Altera o cursor ao passar sobre o botão */
    border-radius: 5px;           /* Bordas arredondadas */
    transition: background-color 0.3s ease;  /* Transição suave para a cor de fundo */
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    margin-top: 20px;              /* Espaçamento superior */
}

/* Efeito de hover no botão */
.butaoEscolha:hover {
    background-color: darkred;    /* Cor mais escura ao passar o mouse */
    font-weight: bold;
}

.Converter {
    background-color: red;        /* Cor de fundo vermelha */
    color: white;                 /* Cor do texto branca */
    border: none;                 /* Remove a borda padrão */
    padding: 10px 20px;           /* Espaçamento interno */
    font-size: 16px;              /* Tamanho da fonte */
    cursor: pointer;             /* Altera o cursor ao passar sobre o botão */
    border-radius: 5px;           /* Bordas arredondadas */
    transition: background-color 0.3s ease;  /* Transição suave para a cor de fundo */
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    margin-top: 20px;              /* Espaçamento superior */
    margin: 20px;
}

.Converter:hover {
    background-color: darkred;    /* Cor mais escura ao passar o mouse */
    font-weight: bold;
}

.texto {
    font-family: Arial, Helvetica, sans-serif;
    font-size: large;
}